{% extends "base.html" %}

{% block content %}
  {% comment %} banner {% endcomment %}
    <div class="banner-certification">
        <h1>Organic Certification</h1>
        <p>All our farmers' produce is tested by Madan Bhandari University labs</p>
    </div>

    {% comment %} Content {% endcomment %}
    <div class="container mt-5 mb-5">
        <h2>Our Certification Process</h2>
        <p>We conduct rigorous testing to ensure <br><br>
        
        <div class="col-md-12 row ">
            <div class="col-md-4">
            <div class="card mt-4 ">
                <div class="card-body icon text-center">
                <i class="fa-solid fa-land-mine-on my-3"></i>
                <div class="underline">
                    <h5 class="card-title">No harmful pesticides</h5>
                </div>
                <p class="card-text px-5 py-3"></p>
                </div>
            </div>
            </div>
            <div class="col-md-4">
            <div class="card mt-4 ">
                <div class="card-body icon text-center">
                <i class="fa-solid fa-flask my-3"></i>
                <div class="underline">
                    <h5 class="card-title"> Safe chemical levels</h5>
                </div>
                <p class="card-text px-5 py-3"></p>
                </div>
            </div>
            </div>
            <div class="col-md-4">
            <div class="card mt-4 ">
                <div class="card-body icon text-center">
                <i class="fa-solid fa-leaf my-3"></i>
                <div class="underline">
                    <h5 class="card-title">Authentic organic farming practices</h5>
                </div>
                <p class="card-text px-5 py-3"></p>
                </div>
            </div>
            </div>
        </div>

        <h2 class="mt-5">Current Certified Farmers</h2>
        <u>
            <li>Shyam Farms, Chitlang</li>
            <li>Pursottam Organic Garden, Chitlang</li>
            <li>Sudeep Fresh Produce, Chitlang</li>
        </u>
    </div>
{% endblock %}