{% extends "base.html" %}

{% block content %}
  {% comment %} banner {% endcomment %}
    <div class="hero">
        <h1>Fresh Organic Vegetables Direct from Chitlang Farmers</h1>
        <p>No middlemen. Fair prices. Lab-tested quality.</p>
        <div class="cta-buttons">
          <a href="{% url 'farmer-dashboard'%}">
            <button type="button" class="btn btn-green">I'm a Farmer</button>
          </a>
          <button type="button" class="btn btn-green">I'm a Consumer</button>
        </div>
    </div>

    {% comment %} Content {% endcomment %}
    <div class="container mt-5">
        <h2>About Our Initiative</h2>
        <p>1. Background <br><br>
          Community Supported Agriculture (CSA) is a farming system driven by the community, for the community, focusing on production and consumption. In CSA, a committed group of individuals supports community farming activities by producing and facilitating the consumption of high-quality food products. Under this system, a group of producers directly sells and distributes quality food products to consumers. In some models, consumers make advance payments for expected production costs, making it easier for producers to purchase necessary inputs. Additionally, both consumers and producers share the risks of production, fostering a stronger mutual relationship.

          CSA requires one or more groups of producers and consumers. CSA producers agree to supply products (vegetables, fruits, meat, milk, etc.) to consumers who purchase shares. Besides providing marketing convenience, CSA also serves as an important community-building component.
        <br><br>


        <div class="col-md-12 row ">
          <div class="col-md-4">
            <div class="card mt-4 ">
              <div class="card-body icon text-center">
                <i class="fa-solid fa-wave-square my-3"></i>
                <div class="underline">
                  <h5 class="card-title">Fresh & Local Produce</h5>
                </div>
                <p class="card-text px-5 py-3">Enjoy farm-fresh fruits and veggies delivered straight from nearby farms.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mt-4 ">
              <div class="card-body icon text-center">
                <i class="fa-brands fa-superpowers my-3"></i>
                <div class="underline">
                  <h5 class="card-title">Support Local Farmers</h5>
                </div>
                <p class="card-text px-5 py-3">Your membership helps small farmers thrive while you eat better.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mt-4 ">
              <div class="card-body icon text-center">
                <i class="fa-solid fa-people-roof my-3"></i>
                <div class="underline">
                  <h5 class="card-title">Grow With Your Community</h5>
                </div>
                <p class="card-text px-5 py-3">Build a healthier future by connecting with local farmers and food.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mt-4 ">
              <div class="card-body icon text-center">
                <i class="fa-solid fa-bowl-food my-3"></i>
                <div class="underline">
                  <h5 class="card-title">Join the Fresh Food Movement</h5>
                </div>
                <p class="card-text px-5 py-3">Be part of a community that values health, freshness, and sustainability.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mt-4 ">
              <div class="card-body icon text-center">
                <i class="fa-solid fa-map-location-dot my-3"></i>
                <div class="underline">
                  <h5 class="card-title">Your Share in Local Harvest</h5>
                </div>
                <p class="card-text px-5 py-3">Join a CSA and get a weekly box of fresh, local farm goods, local veg.</p>
              </div>
            </div>
          </div>
           <div class="col-md-4">
            <div class="card mt-4 ">
              <div class="card-body icon text-center">
                <i class="fa-solid fa-bowl-food my-3"></i>
                <div class="underline">
                  <h5 class="card-title">Healthy Food, Stronger Community</h5>
                </div>
                <p class="card-text px-5 py-3">Nourish your body and support your local food system.</p>
              </div>
            </div>
          </div>
        </div>
        
          i. Rationale of Organic CSA<br><br>
          There are two major challenges in organic farming promotion—production-related issues and market-related issues. CSA opens pathways to address production challenges while eliminating middlemen, ensuring that profits directly reach producers and consumers, thereby solving market-related issues. Since CSA has the potential to resolve both challenges, this model is being proposed for promoting organic farming in Chitlang.
          <br><br>
          ii. Benefits of CSA<br><br>
          Benefits for Producers:

          Access to pre-production financial resources.

          Guaranteed market for produce.

          Higher potential profits due to the absence of middlemen.

          Reduced investment costs due to minimal use of chemical fertilizers and pesticides.

          Consumers may adjust to slight variations in supply quantities.

          Risk-sharing provisions with consumers.<br><br>

          Benefits for Consumers:<br><br>

          Access to fresh and healthy organic vegetables.

          Awareness of local production sources and methods, ensuring safe consumption.

          Contribution to sustainable environmental improvement.

          Greater partnership and ownership in production risks and benefits.

          Fixed-price guarantee for the entire season.

          Affordable access to premium organic produce.<br><br>

          Benefits for Chitlang:<br><br>

          Promotion of organic farming and eco-tourism.

          Improvement in sustainable environmental practices.

          Economic and livelihood enhancement.</p>
    </div>
{% endblock %}

{% block scripts %}
{% endblock %}
